body{
    font-family: 'Poppins', sans-serif;
}



/* navbar start here */
.navbar{
    padding: 5px;
    height: 80px;
    padding-left: 4%;
    padding-right: 4%;
    border: 0.7px solid #FFFFFF4A;
}

.navbar .leftdiv{
    float: left;
    max-width: 20%;
    margin-top: 26px;
    margin-left: 20px;
    padding: 5px;
}


.navbar .leftdiv img{
    margin-top: 10px;
}


.navbar .rightdiv{
    float: right;
    max-width: 50%;
}

.navbar .rightdiv ul{
    margin-left: 200px;
    margin-right: 0;
}

.navbar .rightdiv li{
    display: inline-block;
    margin-top: 18px;
    margin-left: 30px;
    margin-right: 5px;
    font-size: 26px;
}
.btn{
    background-color: rgb(12, 124, 223);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.active{
    color: blue;
}


.myMenuIcon{
    display: none;
}
/* nav bar end */
















.bodycontainer{
    height: 570px;
    margin-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
}

.bodycontainer .leftbody{
    float: left;
    max-width: 20%;
    padding-left: 10%;
    margin-top: 40px;
    display: block;

}

.bodycontainer .rightbody {
    float: right;
    max-width:55%;
    padding-right: 10%;


}

.bodycontainer .rightbody img{
    height: 584px;
    max-width: 578px;
    left: 622px;
    top: 0px;
    border-radius: 0px;
}
.bodycontainer .leftbody .title h2{
    height: 141px;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: nullpx;
    font-size: 2rem;

}
.bodycontainer .leftbody .title p{
    height: auto;
    max-width: 500px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: nullpx;
    font-size: 1.2rem;

}
.bodycontainer .leftbody .btndiv{
    height: auto;
    padding: 5px;
    border-radius: nullpx;

}
.bodycontainer .leftbody .leftbtn{
    max-width: 500px;
    height: auto;
}

.bodycontainer .leftbody .leftbtn{
    height: auto;
    max-width: 200px;
    border-radius: 4px;
    padding: 16px;
    background: #4E42D9;
    float: left;
    color: white;


    
}
.bodycontainer .leftbody .leftbtn h4{
    height: auto;
    max-width: 200px;
}



.bodycontainer .leftbody .rightbtn{
    height: auto;
    max-width: 200px;
    border-radius: 4px;
    padding: 16px;
    background: #4E42D92E;
    float: right;
    

    
}
.bodycontainer .leftbody .rightbtn h4{
    height: auto;
    max-width: 73px;
    
}


/* below hero part */


.mycontainer {
    height: 500px;
    margin-top: 180px;

}
.mycontainer .upper{
    height: 300px;
}
.mycontainer .lower{
    height: 300px;

}

.mycontainer .upper p{
    max-width: 300px;
    font-size: 44px;
    padding: 10px;
    padding-left: 45%;

}


.mycontainer .upper .myfourboxcontainer {
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
}


.mycontainer .upper .myfourboxcontainer .box1{
    max-width: 40%;
    height: 200px;
    float: left;
}

.mycontainer .upper .myfourboxcontainer  .box1_left{
    max-width: 40%;
    height: 200px;
    float: left;
    padding-left: 15%;
}

.mycontainer .upper .myfourboxcontainer  .box1_left img{
    padding-left: 45%;
}

.mycontainer .upper .myfourboxcontainer  .box1_left h4{
    font-size: 22px;
    padding-left: 22%;

}
.mycontainer .upper .myfourboxcontainer  .box1_left p{
    font-size: 18px;
    padding-left: 20%;
}










.mycontainer .upper .myfourboxcontainer  .box1_right{
    max-width: 40%;
    height: 200px;
    float: right;
}
.mycontainer .upper .myfourboxcontainer  .box1_right img{
    padding-left: 45%;
}

.mycontainer .upper .myfourboxcontainer  .box1_right h4{
    font-size: 22px;
    padding-left: 50%;
}
.mycontainer .upper .myfourboxcontainer  .box1_right p{
    font-size: 18px;
    padding-left: 26%;
}






.mycontainer .upper .myfourboxcontainer .box2_left {
    max-width: 40%;
    height: 200px;
    float: left;
}



.mycontainer .upper .myfourboxcontainer  .box2_left img{
    padding-left: 45%;
}



.mycontainer .upper .myfourboxcontainer  .box2_left h4{
    padding-left: 36%;
}



.mycontainer .upper .myfourboxcontainer  .box2_left p{
    font-size: 18px;
    padding-left: 25%;
}





.mycontainer .upper .myfourboxcontainer .box2_right {
    max-width: 50%;
    float: right;
    height: 200px;
}
.mycontainer .upper .myfourboxcontainer  .box2_right img{
    padding-right: 45%;

}

.mycontainer .upper .myfourboxcontainer  .box2_right h4{
 padding-right:  25%;
}
.mycontainer .upper .myfourboxcontainer  .box2_right p{
    font-size: 18px;
    padding-left:0%;
    padding-right: 10%;
}

.mycontainer .upper .myfourboxcontainer .box2 {
    max-width: 40%;
    height: 200px;
    float: right
}


/* end below hero part */






















.myImageInSecondLastPart{
    height: 281px;
    max-width: 350px;
    border-radius: 4px;
    padding: 10px;
}









/* second last part */
.secondlastdiv{
    height: 1000px;
    max-width: 100%;
}


.secondlastdiv  .lowerdiv1{
    height: 150px;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

}


.secondlastdiv  .lowerdiv1 h3{
    margin-left: 50%;
    font-size: 32px;
    margin-top: 10px;

}
.secondlastdiv  .lowerdiv1 p{
    margin-left: 25%;
    font-size: 24px;
    margin-top: 10px;


}






.secondlastdiv  .lowerdiv2{
    height: 700px;
    max-width: 100%;

}


.secondlastdiv  .lowerdiv2  .lowerdiv2_left{
    max-width: 30%;
    float: left;
    
}
.secondlastdiv  .lowerdiv2  .lowerdiv2_left img{
    padding-left: 30%;
    
}

.secondlastdiv  .lowerdiv2  .lowerdiv2_left p{
    padding-left: 30%;
    
}

.secondlastdiv  .lowerdiv2  .lowerdiv2_left h6{
    padding-left: 30%;
    font-size: 32px;
    
}

.secondlastdiv  .lowerdiv2  .lowerdiv2_right{
    max-width: 60%;
    float: right;
    
}


.secondlastdiv  .lowerdiv2  .lowerdiv2_right .lowerdiv2_second{
    max-width: 45%;
    float: left;
    
}
.secondlastdiv  .lowerdiv2  .lowerdiv2_right .lowerdiv2_second p{
    padding-right: 20%;
}
.secondlastdiv  .lowerdiv2  .lowerdiv2_right .lowerdiv2_second h6{
    font-size: 28px;
    padding: 2px;

    
}


.secondlastdiv  .lowerdiv2  .lowerdiv2_right .lowerdiv2_third{
    max-width:45%;
    float: right;
    
}


.secondlastdiv  .lowerdiv2  .lowerdiv2_right .lowerdiv2_third h6{
    font-size: 28px;
    padding: 2px;
    padding-bottom: 40px;

}








.secondlastdiv  .lowerdiv3{
    height: 200px;
    max-width: 100%;
    margin-bottom: 80px;
}



























.secondlastdiv  .lowerdiv3 .viewall{
    height: 40px;
    max-width: 100px;
    background-color:#4E42D9;;
    margin-left: 50%;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    font-size: large;
    font-weight: bold;
    color: #FFFFFF;
    ;

}















/* footer css */
.footerdiv{
    height: auto;
    max-width: 100%;
    color: white;
    background-color: rgb(0, 217, 255);

}


.footerdivupper{
    height: 340px;
    max-width: 100%;
    background: #292838;

}

.footerdivupperleft{
    max-width: 30%;
    height: 100%;
    float: left;
}

.footerdivupperleft h2{
    padding: 10% 50% ;
    font-size: 34px;
}
.footerdivupperleft p{
    padding: 0% 0% 0% 50%;
}

.footerdivupperright{
    max-width: 50%;
    height: 100%;
    float: right;
}

.footerdivlower{
    height: 60px;
    max-width: 100%;
    color: white;
    text-align: center;
    background-color: #23222F;

}

.footerdivlower p{
    padding-top: 20px;
}

.footerdivupperright_left{
    max-width: 0%;
    height: 100%;
    float: left;
    margin-top: 60px;
    margin-left: 60px;
}
.footerdivupperright_left li{
    padding: 5px;
}

.footerdivupperright_right{
    width: 50%;
    height: 100%;
    float: right;
}

.footerdivupperright_right_left{
    width: 20%;
    float: left;
    margin-top: 60px;
    margin-left: 10px;
    padding: 5px;

}
.footerdivupperright_right_left li{
    padding: 5px;

}
.footerdivupperright_right_right{
    width: 60%;
    float: right;
    margin-top: 60px;

}

.footerdivupperright_right_right li{
   padding: 5px;

}


/* end footer */













